body {
    background-image: url("../imgs/login-page-white\ \(1\).png");
    background-blend-mode: luminosity;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.div-hijo-form {
    position: relative; 
    width: 53rem;
    height: 37rem;
    background-color: rgba(255, 255, 255, 0.26); 
    border-radius: 1.2rem;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.719); 
    backdrop-filter: blur(100px); 
    -webkit-backdrop-filter: blur(10px);
    border: 2.5px solid rgba(255, 255, 255, 0.541); 
    padding-top: 1.2rem;
}

.svg-icon {
    position: absolute;
    z-index: 9;
    top: 0.5rem; 
    right: 6rem; 
    height: 14rem;
}


form {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 30rem;
}

div > h4 {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
    color: #553862;
    opacity: 65%;
}

.h3-form {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: #553862;
    opacity: 70%;
}

label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
}

input {
    background-color: #ffffff;
    border: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: black;
    margin-bottom: 0.2rem;
}

.label-form-checkbox {
    color: #553862;
}

button, .btn-hover {
    border: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-block: 0.7rem;
    font-size: 1rem; /* Ajustado a 16px */
    font-weight: 600;
    color: #3C1F49;
    background-size: 300% 100%;
    cursor: pointer;
    height: 55px;
    text-align: center;
    transition: all .4s ease-in-out;
    /* box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75); */
}

button:hover, .btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-7 {
    background-image: linear-gradient(to right, #ffffff, #b994d8, #ffffff, #a445f2);
    /* box-shadow: 0 4px 12px 0 rgba(126, 52, 161, 0.75); */
}


.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 1.9rem;
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
    align-items: center;
  }
  
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.2rem;
  }
  
  .custom-checkbox input:checked ~ .checkmark {
    background-color: #815b92;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  

  .form-loginforms{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    gap: 0.2rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    color: #1b0c22;
  }

  .register-button:hover{
    background-color: #b994d8;
    color: #1b0c22;
  }

 p{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    color: #23122b;
    font-weight: 500;
  }

  .login--s{
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }