.service-t {
    text-align: center;
    margin-top: 4rem;
    color: #250C30;
    font-family: "Roboto", serif;
    font-weight: 600;
    font-size: 2.3rem;
}

.servicesec {
    display: grid;
    justify-content: center;
    margin-block: 4rem;
}

section div.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1rem;
    grid-auto-rows: 1fr;  
    width: 100%;
    padding: 0 1rem; 
}

.SA {
    background-color: #553862;
    margin-block: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;  
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;  
    height: 100%;
    min-height: 9rem; 
    flex-direction: column;
}

.SA:hover {
    background-color: #4e276e;
}

.SA h3 {
    font-size: 1rem;  
    font-family: "Roboto", sans-serif;
}


/* Carrito */

.main-items {
    display: flex;
    position: relative; 
    align-items: flex-end; 
}

.text-cart {
    text-align: start;
    margin-left: 2rem;
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 0.7rem;
    width: 94%;
    margin-top: 4rem;
    color: #59276e;
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-size: 2.3rem;
}

.main-items p {
    position: absolute;
    bottom: 1.2rem; 
    left: calc(3rem + 94% - 67rem);
    font-size: 1rem;
    color: #4e276e;
    padding: 0 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.cart-section {
    margin-block: 3rem;
    display: grid; 
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: minmax(100px, auto);
    flex-direction: column; 
    gap: 1.8rem;
    align-items: start;
    margin-left: 2rem;
}

.card-item {
    background-color: #FAFAF5;
    border: 2px solid #E6E6E6;
    width: 45rem;
    display: flex;
    height: 12rem;
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 1.5rem; 
    overflow: hidden;
}

.img-cont {
    width: 30%; 
    height: 100%; 
    margin-right: 1rem; 
    overflow: hidden; 
}

.img-cont img {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px 0px 0px 0px; 
    overflow: hidden;
}

.text-price {
    display: flex;
    justify-content: space-between;  
    width: 100%;  
    padding: 0.5rem 0;  
    align-items: center;  
}

.counts {
    margin-top: 4rem;
    background-color: #ffffff;
    border: #E6E6E6 1px solid;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 0.4rem;
    gap: 0.7rem;
}

.material-symbols-outlined {
    font-size: 1.3rem; 
    color: #250C30;
    cursor: pointer;
}

.price {
    font-weight: 600;
    padding-right: 1rem;
}

/* total compra */

.Total-price {
    background-color: #FAFAF5;
    border: 2px solid #E6E6E6;   
     width: 20rem;
    height: max-content;
    padding: 0.5rem;
    margin-right: 3rem;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border-radius: 0.7rem;
}


.Total-price .box-price h4 {
    margin: 0;
    font-size: 1.5rem;
    color: #1b092b; 
    padding: 1rem;
}

.Total-price p {
    margin: 0;
    font-size: 1rem;
    text-align: start;
    margin-left: 0.7rem;
}

.Total-price .subtotal, 
.Total-price .shipping, 
.Total-price .interest, 
.Total-price .total {
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
}

.Total-price p {
    color: #1b092b;
}

.total {
    font-weight: 800;
}

.cart-button-part {
    display:flex;
    justify-content: center;
}

.button-cart {
    background-color: #553862;
    border: none;
    padding: 0.6rem;
    width: 90%;
    border-radius: 0.6rem;
    color: #ffffff;
    cursor: pointer;
}